include ./includes/layout

body
	block content
		h1 #{appname}
		h2= othername
		include ./includes/nav-alt
		include ./includes/hero
		include ./includes/features
		include ./includes/info
		include ./includes/quotes
		include ./includes/info
		include ./includes/partners
		include ./includes/foot
