.resources(id='resources2')
	h2  Additional Info 
	.resources-wrapper

		ul.sm-hide-ul
			li.sm-hide
				section.xs-hide.sm-hide
					.col-sm-4.col-sm-offset-0.col-xs-10.col-xs-offset-1
						.resource
							.img-wrapper
								img.resource(src='images/resource01.jpg')
								.img-after
									h3.ct
										| About Us
							.img-after
							.caption
								p
									| Eros meis vidit ad usu, viris vivendo an sit, etiam oporteat quo te. Cu ius bonorum molestiae. Id mea wisi necessitatibus, at duo purto omnis. Hinc vivendo te vix.
								p  Sonet ridens concludaturque vix ne. 
								a(href='#open-modal')  Contact Us 
			li.xs-hide
				section.xs-hide.sm-hide
					.col-sm-4.col-sm-offset-0.col-xs-10.col-xs-offset-1
						.resource
							.img-wrapper
								img.resource(src='images/resource02.jpg')
								.img-after
									h3.ct
										| Financing
							.img-after
							.caption
								p
									| Aeterno maiestatis pri an, idque ullum antiopam vel eu. Mucius accusata iracundia ea qui, ei est graecis adipiscing, eam eu. Diceret probatus eu ius, id vel nostro omnesque moderatius.
								p  Congue percipit has te. 
								a(href='#open-modal')  Learn More 
			li.xs-hide
				section.xs-hide.sm-hide
					.col-sm-4.col-sm-offset-0.col-xs-10.col-xs-offset-1
						.resource
							.img-wrapper
								img.resource(src='images/resource03.jpg')
								.img-after
									h3.ct
										| FAQs
							.img-after
							.caption
								p
									| Lorem ipsum dolor sit amet, an mei velit minim denique. Ut quot mediocrem hendrerit duo, nibh tamquam docendi pro an.
								p  That's Sun Ray Pools. 
								a(href='#open-modal')  Get an Estimate 

		ul.md-hide-ul
			li.md-hide.li-sm
				section.sm-only
					.resource-wrapper-sm
						.resource-sm
							.img-wrapper-sm
								img.resource(src='images/resource01.jpg')
							.img-banner-sm
								.banner-h3-sm
									h3.ct
										| About Us
							.caption-sm
								.caption-p-sm
									p
										| Eros meis vidit ad usu, viris vivendo an sit, etiam oporteat quo te. Cu ius bonorum molestiae.
								.caption-a-sm
									a(href='#open-modal')  Contact Us 
			.clearfix
			li.md-hide.li-sm
				section.sm-only
					.resource-wrapper-sm
						.resource-sm
							.img-wrapper-sm
								img.resource(src='images/resource02.jpg')
							.img-banner-sm
								.banner-h3-sm
									h3.ct
										| Financing
							.caption-sm
								.caption-p-sm
									p  Aeterno maiestatis pri an, idque ullum antiopam vel eu. Mucius accusata. 
								.caption-a-sm
									a(href='#open-modal') Learn More 
			.clearfix
			li.md-hide.li-sm
				section.sm-only
					.resource-wrapper-sm
						.resource-sm
							.img-wrapper-sm
								img.resource(src='images/resource03.jpg')
							.img-banner-sm
								.banner-h3-sm
									h3.ct
										| FAQs
							.caption-sm
								.caption-p-sm
									p  Lorem ipsum dolor sit amet, an mei velit minim denique. 
								.caption-a-sm
									a(href='#open-modal')  Get an Estimate 
			.clearfix