#modal.modal(style='display: none')
	form
		input(placeholder='Your Name')
		input(placeholder='Email Address')
		input(placeholder='Phone Number')

#open-modal.modal-dialog
	.modal-content
		header.modal-header.ct
			a.modal-close(data-dismiss='modal', aria-hidden='true', href='#')
				span.hidden Close
			br
			br
			h4.modal-title.ct  Get ready for summer!
			p
				| Enter your information below to get 
				em 10 Tips to a Perfect Pool
		.modal-body.ct
			form#subForm(action='http://followclosely2.createsend.com/t/d/s/kumn/', method='post')
				input#fieldName(name='cm-name', type='text', placeholder='Your Name', required='')
				input#fieldEmail(name='cm-kumn-kumn', type='email', placeholder='Email Address', required='')
				input#fielddliduh(name='cm-f-dliduh', type='text', placeholder='Zip Code', required='')
				button.button-add.button-blue.wide(type='submit') Download Now 
				p No spam. Unsubscribe any time.
