#testId
	.partners
		ul
			li.partner.partner01
				img(src='images/partner01.jpg')
			li.partner.partner02
				img(src='images/partner02.jpg')
			li.partner.partner03
				img(src='images/partner03.jpg')
			li.partner.partner04
				img(src='images/partner04.jpg')