.reviews-headshots-wrapper
  #reviews.reviews
    .review.ct(style='background: url(images/hs-lg-0.jpg); background-size: cover; background-position: center center;')
      .quote
        p
          | “Sun Ray Pools took great care of us.”
        h6 Robert Smith, Rowlett
        a
          i.fa.fa-commenting-o
  #img-preload
  .quotes-wrapper(style='margin-top: -50px')
    .quotes
      ul.quo-ul
        li#quote0.quo-li.active
          .quote
            span
              a
                img(src='images/hs-sm-0.jpg')
        li#quote1.quo-li
          .quote
            span
              a
                img(src='images/hs-sm-1.jpg')
        li#quote2.quo-li
          .quote
            span
              a
                img(src='images/hs-sm-2.jpg')
        li#quote3.quo-li
          .quote
            span
              a
                img(src='images/hs-sm-3.jpg')
        li#quote4.quo-li
          .quote
            span
              a
                img(src='images/hs-sm-4.jpg')
