@charset "UTF-8";
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/font-awesome/fontawesome-webfont.eot?v=4.5.0");
  src: url("../fonts/font-awesome/fontawesome-webfont.eot") format("embedded-opentype"), url("../fonts/font-awesome/fontawesome-webfont.woff2") format("woff2"), url("../fonts/font-awesome/fontawesome-webfont.woff") format("woff"), url("../fonts/font-awesome/fontawesome-webfont.ttf") format("truetype"), url("../fonts/font-awesome/fontawesome-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Gotham-Thin';
  src: url("../fonts/gotham/Gotham-Thin.eot");
  src: local("☺"), url("../fonts/gotham/Gotham-Thin.woff") format("woff"), url("../fonts/gotham/Gotham-Thin.ttf") format("truetype"), url("../fonts/gotham/Gotham-Thin.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Gotham-ThinItalic';
  src: url("../fonts/gotham/Gotham-ThinIta.eot");
  src: local("☺"), url("../fonts/gotham/Gotham-ThinIta.woff") format("woff"), url("../fonts/gotham/Gotham-ThinIta.ttf") format("truetype"), url("../fonts/gotham/Gotham-ThinIta.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Gotham-ExtraLight';
  src: url("../fonts/gotham/Gotham-XLight.eot");
  src: local("☺"), url("../fonts/gotham/Gotham-XLight.woff") format("woff"), url("../fonts/gotham/Gotham-XLight.ttf") format("truetype"), url("../fonts/gotham/Gotham-XLight.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Gotham-ExtraLightItalic';
  src: url("../fonts/gotham/Gotham-XLightIta.eot");
  src: local("☺"), url("../fonts/gotham/Gotham-XLightIta.woff") format("woff"), url("../fonts/gotham/Gotham-XLightIta.ttf") format("truetype"), url("../fonts/gotham/Gotham-XLightIta.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Gotham-Light';
  src: url("../fonts/gotham/Gotham-Light.eot");
  src: local("☺"), url("../fonts/gotham/Gotham-Light.woff") format("woff"), url("../fonts/gotham/Gotham-Light.ttf") format("truetype"), url("../fonts/gotham/Gotham-Light.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Gotham-LightItalic';
  src: url("../fonts/gotham/Gotham-LightIta.eot");
  src: local("☺"), url("../fonts/gotham/Gotham-LightIta.woff") format("woff"), url("../fonts/gotham/Gotham-LightIta.ttf") format("truetype"), url("../fonts/gotham/Gotham-LightIta.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Gotham-Book';
  src: url("../fonts/gotham/Gotham-Book.eot");
  src: local("☺"), url("../fonts/gotham/Gotham-Book.woff") format("woff"), url("../fonts/gotham/Gotham-Book.ttf") format("truetype"), url("../fonts/gotham/Gotham-Book.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Gotham-BookItalic';
  src: url("../fonts/gotham/Gotham-BookIta.eot");
  src: local("☺"), url("../fonts/gotham/Gotham-BookIta.woff") format("woff"), url("../fonts/gotham/Gotham-BookIta.ttf") format("truetype"), url("../fonts/gotham/Gotham-BookIta.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Gotham-Medium';
  src: url("../fonts/gotham/Gotham-Medium.eot");
  src: local("☺"), url("../fonts/gotham/Gotham-Medium.woff") format("woff"), url("../fonts/gotham/Gotham-Medium.ttf") format("truetype"), url("../fonts/gotham/Gotham-Medium.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Gotham-MediumItalic';
  src: url("../fonts/gotham/Gotham-MediumIta.eot");
  src: local("☺"), url("../fonts/gotham/Gotham-MediumIta.woff") format("woff"), url("../fonts/gotham/Gotham-MediumIta.ttf") format("truetype"), url("../fonts/gotham/Gotham-MediumIta.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Gotham-Bold';
  src: url("../fonts/gotham/Gotham-Bold.eot");
  src: local("☺"), url("../fonts/gotham/Gotham-Bold.woff") format("woff"), url("../fonts/gotham/Gotham-Bold.ttf") format("truetype"), url("../fonts/gotham/Gotham-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Gotham-BoldItalic';
  src: url("../fonts/gotham/Gotham-BoldIta.eot");
  src: local("☺"), url("../fonts/gotham/Gotham-BoldIta.woff") format("woff"), url("../fonts/gotham/Gotham-BoldIta.ttf") format("truetype"), url("../fonts/gotham/Gotham-BoldIta.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Gotham-Black';
  src: url("../fonts/gotham/Gotham-Black.eot");
  src: local("☺"), url("../fonts/gotham/Gotham-Black.woff") format("woff"), url("../fonts/gotham/Gotham-Black.ttf") format("truetype"), url("../fonts/gotham/Gotham-Black.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Gotham-BlackItalic';
  src: url("../fonts/gotham/Gotham-BlackIta.eot");
  src: local("☺"), url("../fonts/gotham/Gotham-BlackIta.woff") format("woff"), url("../fonts/gotham/Gotham-BlackIta.ttf") format("truetype"), url("../fonts/gotham/Gotham-BlackIta.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Gotham-Ultra';
  src: url("../fonts/gotham/Gotham-Ultra.eot");
  src: local("☺"), url("../fonts/gotham/Gotham-Ultra.woff") format("woff"), url("../fonts/gotham/Gotham-Ultra.ttf") format("truetype"), url("../fonts/gotham/Gotham-Ultra.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Gotham-UltraItalic';
  src: url("../fonts/gotham/Gotham-UltraIta.eot");
  src: local("☺"), url("../fonts/gotham/Gotham-UltraIta.woff") format("woff"), url("../fonts/gotham/Gotham-UltraIta.ttf") format("truetype"), url("../fonts/gotham/Gotham-UltraIta.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Sentinel-Light';
  src: url("../fonts/sentinel/Sentinel-Light.eot");
  src: local("☺"), url("../fonts/sentinel/Sentinel-Light.woff") format("woff"), url("../fonts/sentinel/Sentinel-Light.ttf") format("truetype"), url("../fonts/sentinel/Sentinel-Light.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Sentinel-LightItalic';
  src: url("../fonts/sentinel/Sentinel-LightItalic.eot");
  src: local("☺"), url("../fonts/sentinel/Sentinel-LightItalic.woff") format("woff"), url("../fonts/sentinel/Sentinel-LightItalic.ttf") format("truetype"), url("../fonts/sentinel/Sentinel-LightItalic.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Sentinel-Book';
  src: url("../fonts/sentinel/Sentinel-Book.eot");
  src: local("☺"), url("../fonts/sentinel/Sentinel-Book.woff") format("woff"), url("../fonts/sentinel/Sentinel-Book.ttf") format("truetype"), url("../fonts/sentinel/Sentinel-Book.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Sentinel-BookItalic';
  src: url("../fonts/sentinel/Sentinel-BookItalic.eot");
  src: local("☺"), url("../fonts/sentinel/Sentinel-BookItalic.woff") format("woff"), url("../fonts/sentinel/Sentinel-BookItalic.ttf") format("truetype"), url("../fonts/sentinel/Sentinel-BookItalic.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Sentinel-Medium';
  src: url("../fonts/sentinel/Sentinel-Medium.eot");
  src: local("☺"), url("../fonts/sentinel/Sentinel-Medium.woff") format("woff"), url("../fonts/sentinel/Sentinel-Medium.ttf") format("truetype"), url("../fonts/sentinel/Sentinel-Medium.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Sentinel-MediumItalic';
  src: url("../fonts/sentinel/Sentinel-MediumItalic.eot");
  src: local("☺"), url("../fonts/sentinel/Sentinel-MediumItalic.woff") format("woff"), url("../fonts/sentinel/Sentinel-MediumItalic.ttf") format("truetype"), url("../fonts/sentinel/Sentinel-MediumItalic.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Sentinel-Semibold';
  src: url("../fonts/sentinel/Sentinel-Semibold.eot");
  src: local("☺"), url("../fonts/sentinel/Sentinel-Semibold.woff") format("woff"), url("../fonts/sentinel/Sentinel-Semibold.ttf") format("truetype"), url("../fonts/sentinel/Sentinel-Semibold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Sentinel-SemiboldItalic';
  src: url("../fonts/sentinel/Sentinel-SemiboldItalic.eot");
  src: local("☺"), url("../fonts/sentinel/Sentinel-SemiboldItalic.woff") format("woff"), url("../fonts/sentinel/Sentinel-SemiboldItalic.ttf") format("truetype"), url("../fonts/sentinel/Sentinel-SemiboldItalic.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Sentinel-Bold';
  src: url("../fonts/sentinel/Sentinel-Bold.eot");
  src: local("☺"), url("../fonts/sentinel/Sentinel-Bold.woff") format("woff"), url("../fonts/sentinel/Sentinel-Bold.ttf") format("truetype"), url("../fonts/sentinel/Sentinel-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Sentinel-BoldItalic';
  src: url("../fonts/sentinel/Sentinel-BoldItalic.eot");
  src: local("☺"), url("../fonts/sentinel/Sentinel-BoldItalic.woff") format("woff"), url("../fonts/sentinel/Sentinel-BoldItalic.ttf") format("truetype"), url("../fonts/sentinel/Sentinel-BoldItalic.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Sentinel-Black';
  src: url("../fonts/sentinel/Sentinel-Black.eot");
  src: local("☺"), url("../fonts/sentinel/Sentinel-Black.woff") format("woff"), url("../fonts/sentinel/Sentinel-Black.ttf") format("truetype"), url("../fonts/sentinel/Sentinel-Black.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Sentinel-BlackItalic';
  src: url("../fonts/sentinel/Sentinel-BlackItalic.eot");
  src: local("☺"), url("../fonts/sentinel/Sentinel-BlackItalic.woff") format("woff"), url("../fonts/sentinel/Sentinel-BlackItalic.ttf") format("truetype"), url("../fonts/sentinel/Sentinel-BlackItalic.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Tungsten-Medium';
  src: url("../fonts/tungsten/Tungsten-Medium.eot");
  src: local("☺"), url("../fonts/tungsten/Tungsten-Medium.woff") format("woff"), url("../fonts/tungsten/Tungsten-Medium.ttf") format("truetype"), url("../fonts/tungsten/Tungsten-Medium.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Tungsten-Semibold';
  src: url("../fonts/tungsten/Tungsten-Semibold.eot");
  src: local("☺"), url("../fonts/tungsten/Tungsten-Semibold.woff") format("woff"), url("../fonts/tungsten/Tungsten-Semibold.ttf") format("truetype"), url("../fonts/tungsten/Tungsten-Semibold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Tungsten-Bold';
  src: url("../fonts/tungsten/Tungsten-Bold.eot");
  src: local("☺"), url("../fonts/tungsten/Tungsten-Bold.woff") format("woff"), url("../fonts/tungsten/Tungsten-Bold.ttf") format("truetype"), url("../fonts/tungsten/Tungsten-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Tungsten-Black';
  src: url("../fonts/tungsten/Tungsten-Black.eot");
  src: local("☺"), url("../fonts/tungsten/Tungsten-Black.woff") format("woff"), url("../fonts/tungsten/Tungsten-Black.ttf") format("truetype"), url("../fonts/tungsten/Tungsten-Black.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Archer-Hairline';
  src: url("fonts/Archer-Hairline.eot");
  src: local("☺"), url("fonts/Archer-Hairline.woff") format("woff"), url("fonts/Archer-Hairline.ttf") format("truetype"), url("fonts/Archer-Hairline.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Archer-HairlineItalic';
  src: url("fonts/Archer-HairlineItalic.eot");
  src: local("☺"), url("fonts/Archer-HairlineItalic.woff") format("woff"), url("fonts/Archer-HairlineItalic.ttf") format("truetype"), url("fonts/Archer-HairlineItalic.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Archer-Thin';
  src: url("fonts/Archer-Thin.eot");
  src: local("☺"), url("fonts/Archer-Thin.woff") format("woff"), url("fonts/Archer-Thin.ttf") format("truetype"), url("fonts/Archer-Thin.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Archer-ThinItalic';
  src: url("fonts/Archer-ThinItalic.eot");
  src: local("☺"), url("fonts/Archer-ThinItalic.woff") format("woff"), url("fonts/Archer-ThinItalic.ttf") format("truetype"), url("fonts/Archer-ThinItalic.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Archer-ExtraLight';
  src: url("fonts/Archer-ExtraLight.eot");
  src: local("☺"), url("fonts/Archer-ExtraLight.woff") format("woff"), url("fonts/Archer-ExtraLight.ttf") format("truetype"), url("fonts/Archer-ExtraLight.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Archer-ExtraLightItalic';
  src: url("fonts/Archer-ExtraLightItalic.eot");
  src: local("☺"), url("fonts/Archer-ExtraLightItalic.woff") format("woff"), url("fonts/Archer-ExtraLightItalic.ttf") format("truetype"), url("fonts/Archer-ExtraLightItalic.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Archer-Light';
  src: url("fonts/Archer-Light.eot");
  src: local("☺"), url("fonts/Archer-Light.woff") format("woff"), url("fonts/Archer-Light.ttf") format("truetype"), url("fonts/Archer-Light.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Archer-LightItalic';
  src: url("fonts/Archer-LightItalic.eot");
  src: local("☺"), url("fonts/Archer-LightItalic.woff") format("woff"), url("fonts/Archer-LightItalic.ttf") format("truetype"), url("fonts/Archer-LightItalic.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Archer-Book';
  src: url("fonts/Archer-Book.eot");
  src: local("☺"), url("fonts/Archer-Book.woff") format("woff"), url("fonts/Archer-Book.ttf") format("truetype"), url("fonts/Archer-Book.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Archer-BookItalic';
  src: url("fonts/Archer-BookItalic.eot");
  src: local("☺"), url("fonts/Archer-BookItalic.woff") format("woff"), url("fonts/Archer-BookItalic.ttf") format("truetype"), url("fonts/Archer-BookItalic.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Archer-Medium';
  src: url("fonts/Archer-Medium.eot");
  src: local("☺"), url("fonts/Archer-Medium.woff") format("woff"), url("fonts/Archer-Medium.ttf") format("truetype"), url("fonts/Archer-Medium.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Archer-MediumItalic';
  src: url("fonts/Archer-MediumItalic.eot");
  src: local("☺"), url("fonts/Archer-MediumItalic.woff") format("woff"), url("fonts/Archer-MediumItalic.ttf") format("truetype"), url("fonts/Archer-MediumItalic.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Archer-Semibold';
  src: url("fonts/Archer-Semibold.eot");
  src: local("☺"), url("fonts/Archer-Semibold.woff") format("woff"), url("fonts/Archer-Semibold.ttf") format("truetype"), url("fonts/Archer-Semibold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Archer-SemiboldItalic';
  src: url("fonts/Archer-SemiboldItalic.eot");
  src: local("☺"), url("fonts/Archer-SemiboldItalic.woff") format("woff"), url("fonts/Archer-SemiboldItalic.ttf") format("truetype"), url("fonts/Archer-SemiboldItalic.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Archer-Bold';
  src: url("fonts/Archer-Bold.eot");
  src: local("☺"), url("fonts/Archer-Bold.woff") format("woff"), url("fonts/Archer-Bold.ttf") format("truetype"), url("fonts/Archer-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Archer-BoldItalic';
  src: url("fonts/Archer-BoldItalic.eot");
  src: local("☺"), url("fonts/Archer-BoldItalic.woff") format("woff"), url("fonts/Archer-BoldItalic.ttf") format("truetype"), url("fonts/Archer-BoldItalic.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Brandon-Thin';
  src: url("../fonts/brandon-grotesque/Brandon_thin.eot");
  src: local("☺"), url("../fonts/brandon-grotesque/Brandon_thin.woff") format("woff"), url("../fonts/brandon-grotesque/Brandon_thin.ttf") format("truetype"), url("../fonts/brandon-grotesque/Brandon_thin.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Brandon-ThinItalic';
  src: url("../fonts/brandon-grotesque/Brandon_thin_it.eot");
  src: local("☺"), url("../fonts/brandon-grotesque/Brandon_thin_it.woff") format("woff"), url("../fonts/brandon-grotesque/Brandon_thin_it.ttf") format("truetype"), url("../fonts/brandon-grotesque/Brandon_thin_it.svg") format("svg");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'Brandon-Light';
  src: url("../fonts/brandon-grotesque/Brandon_light.eot");
  src: local("☺"), url("../fonts/brandon-grotesque/Brandon_light.woff") format("woff"), url("../fonts/brandon-grotesque/Brandon_light.ttf") format("truetype"), url("../fonts/brandon-grotesque/Brandon_light.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Brandon-LightItalic';
  src: url("../fonts/brandon-grotesque/Brandon_light_it.eot");
  src: local("☺"), url("../fonts/brandon-grotesque/Brandon_light_it.woff") format("woff"), url("../fonts/brandon-grotesque/Brandon_light_it.ttf") format("truetype"), url("../fonts/brandon-grotesque/Brandon_light_it.svg") format("svg");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'Brandon-Book';
  src: url("../fonts/brandon-grotesque/Brandon_reg.eot");
  src: local("☺"), url("../fonts/brandon-grotesque/Brandon_reg.woff") format("woff"), url("../fonts/brandon-grotesque/Brandon_reg.ttf") format("truetype"), url("../fonts/brandon-grotesque/Brandon_reg.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Brandon-BookItalic';
  src: url("../fonts/brandon-grotesque/Brandon_reg_it.eot");
  src: local("☺"), url("../fonts/brandon-grotesque/Brandon_reg_it.woff") format("woff"), url("../fonts/brandon-grotesque/Brandon_reg_it.ttf") format("truetype"), url("../fonts/brandon-grotesque/Brandon_reg_it.svg") format("svg");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'Brandon-Medium';
  src: url("../fonts/brandon-grotesque/Brandon_med.eot");
  src: local("☺"), url("../fonts/brandon-grotesque/Brandon_med.woff") format("woff"), url("../fonts/brandon-grotesque/Brandon_med.ttf") format("truetype"), url("../fonts/brandon-grotesque/Brandon_med.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Brandon-MediumItalic';
  src: url("fonts/Brandon_med_it.eot");
  src: local("☺"), url("fonts/Brandon_med_it.woff") format("woff"), url("fonts/Brandon_med_it.ttf") format("truetype"), url("fonts/Brandon_med_it.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Brandon-Bold';
  src: url("../fonts/brandon-grotesque/Brandon_bld.eot");
  src: local("☺"), url("../fonts/brandon-grotesque/Brandon_bld.woff") format("woff"), url("../fonts/brandon-grotesque/Brandon_bld.ttf") format("truetype"), url("../fonts/brandon-grotesque/Brandon_bld.svg") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Brandon-BoldItalic';
  src: url("../fonts/brandon-grotesque/Brandon_bld_it.eot");
  src: local("☺"), url("../fonts/brandon-grotesque/Brandon_bld_it.woff") format("woff"), url("../fonts/brandon-grotesque/Brandon_bld_it.ttf") format("truetype"), url("../fonts/brandon-grotesque/Brandon_bld_it.svg") format("svg");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: 'Brandon-Black';
  src: url("../fonts/brandon-grotesque/Brandon_blk.eot");
  src: local("☺"), url("../fonts/brandon-grotesque/Brandon_blk.woff") format("woff"), url("../fonts/brandon-grotesque/Brandon_blk.ttf") format("truetype"), url("../fonts/brandon-grotesque/Brandon_blk.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Brandon-BlackItalic';
  src: url("../fonts/brandon-grotesque/Brandon_blk_it.eot");
  src: local("☺"), url("../fonts/brandon-grotesque/Brandon_blk_it.woff") format("woff"), url("../fonts/brandon-grotesque/Brandon_blk_it.ttf") format("truetype"), url("../fonts/brandon-grotesque/Brandon_blk_it.svg") format("svg");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'OpenSans-Light';
  src: url("../fonts/open-sans/OpenSans-Light.eot");
  src: url("../fonts/open-sans/OpenSans-Light.eot") format("embedded-opentype"), url("../fonts/open-sans/OpenSans-Light.woff2") format("woff2"), url("../fonts/open-sans/OpenSans-Light.woff") format("woff"), url("../fonts/open-sans/OpenSans-Light.ttf") format("truetype"), url("../fonts/open-sans/OpenSans-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'OpenSans-LightItalic';
  src: url("../fonts/open-sans/OpenSans-LightItalic.eot");
  src: url("../fonts/open-sans/OpenSans-LightItalic.eot") format("embedded-opentype"), url("../fonts/open-sans/OpenSans-LightItalic.woff2") format("woff2"), url("../fonts/open-sans/OpenSans-LightItalic.woff") format("woff"), url("../fonts/open-sans/OpenSans-LightItalic.ttf") format("truetype"), url("../fonts/open-sans/OpenSans-LightItalic.svg") format("svg");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: 'OpenSans-Book';
  src: url("../fonts/open-sans/OpenSans-Regular.eot");
  src: url("../fonts/open-sans/OpenSans-Regular.eot") format("embedded-opentype"), url("../fonts/open-sans/OpenSans-Regular.woff2") format("woff2"), url("../fonts/open-sans/OpenSans-Regular.woff") format("woff"), url("../fonts/open-sans/OpenSans-Regular.ttf") format("truetype"), url("../fonts/open-sans/OpenSans-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'OpenSans-BookItalic';
  src: url("../fonts/open-sans/OpenSans-Italic.eot");
  src: url("../fonts/open-sans/OpenSans-Italic.eot") format("embedded-opentype"), url("../fonts/open-sans/OpenSans-Italic.woff2") format("woff2"), url("../fonts/open-sans/OpenSans-Italic.woff") format("woff"), url("../fonts/open-sans/OpenSans-Italic.ttf") format("truetype"), url("../fonts/open-sans/OpenSans-Italic.svg") format("svg");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'OpenSans-Semibold';
  src: url("../fonts/open-sans/OpenSans-Semibold.eot");
  src: url("../fonts/open-sans/OpenSans-Semibold.eot") format("embedded-opentype"), url("../fonts/open-sans/OpenSans-Semibold.woff2") format("woff2"), url("../fonts/open-sans/OpenSans-Semibold.woff") format("woff"), url("../fonts/open-sans/OpenSans-Semibold.ttf") format("truetype"), url("../fonts/open-sans/OpenSans-Semibold.svg") format("svg");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'OpenSans-SemiboldItalic';
  src: url("../fonts/open-sans/OpenSans-SemiboldItalic.eot");
  src: url("../fonts/open-sans/OpenSans-SemiboldItalic.eot") format("embedded-opentype"), url("../fonts/open-sans/OpenSans-SemiboldItalic.woff2") format("woff2"), url("../fonts/open-sans/OpenSans-SemiboldItalic.woff") format("woff"), url("../fonts/open-sans/OpenSans-SemiboldItalic.ttf") format("truetype"), url("../fonts/open-sans/OpenSans-SemiboldItalic.svg") format("svg");
  font-weight: 600;
  font-style: italic; }
@font-face {
  font-family: 'OpenSans-Bold';
  src: url("../fonts/open-sans/OpenSans-Bold.eot");
  src: url("../fonts/open-sans/OpenSans-Bold.eot") format("embedded-opentype"), url("../fonts/open-sans/OpenSans-Bold.woff2") format("woff2"), url("../fonts/open-sans/OpenSans-Bold.woff") format("woff"), url("../fonts/open-sans/OpenSans-Bold.ttf") format("truetype"), url("../fonts/open-sans/OpenSans-Bold.svg") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'OpenSans-BoldItalic';
  src: url("../fonts/open-sans/OpenSans-BoldItalic.eot");
  src: url("../fonts/open-sans/OpenSans-BoldItalic.eot") format("embedded-opentype"), url("../fonts/open-sans/OpenSans-BoldItalic.woff2") format("woff2"), url("../fonts/open-sans/OpenSans-BoldItalic.woff") format("woff"), url("../fonts/open-sans/OpenSans-BoldItalic.ttf") format("truetype"), url("../fonts/open-sans/OpenSans-BoldItalic.svg") format("svg");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: 'OpenSans-Black';
  src: url("../fonts/open-sans/OpenSans-ExtraBold.eot");
  src: url("../fonts/open-sans/OpenSans-ExtraBold.eot") format("embedded-opentype"), url("../fonts/open-sans/OpenSans-ExtraBold.woff2") format("woff2"), url("../fonts/open-sans/OpenSans-ExtraBold.woff") format("woff"), url("../fonts/open-sans/OpenSans-ExtraBold.ttf") format("truetype"), url("../fonts/open-sans/OpenSans-ExtraBold.svg") format("svg");
  font-weight: 800;
  font-style: normal; }
@font-face {
  font-family: 'OpenSans-BlackItalic';
  src: url("../fonts/open-sans/OpenSans-ExtraBoldItalic.eot");
  src: url("../fonts/open-sans/OpenSans-ExtraBoldItalic.eot") format("embedded-opentype"), url("../fonts/open-sans/OpenSans-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/open-sans/OpenSans-ExtraBoldItalic.woff") format("woff"), url("../fonts/open-sans/OpenSans-ExtraBoldItalic.ttf") format("truetype"), url("../fonts/open-sans/OpenSans-ExtraBoldItalic.svg") format("svg");
  font-weight: 800;
  font-style: italic; }
@font-face {
  font-family: 'Avenir-Light';
  src: url("../fonts/avenir/Avenir-Light.eot");
  src: local("☺"), url("../fonts/avenir/Avenir-Light.woff") format("woff"), url("../fonts/avenir/Avenir-Light.ttf") format("truetype"), url("../fonts/avenir/Avenir-Light.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Avenir-LightItalic';
  src: url("../fonts/avenir/Avenir-LightOblique.eot");
  src: local("☺"), url("../fonts/avenir/Avenir-LightOblique.woff") format("woff"), url("../fonts/avenir/Avenir-LightOblique.ttf") format("truetype"), url("../fonts/avenir/Avenir-LightOblique.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Avenir-Book';
  src: url("../fonts/avenir/Avenir-Book.eot");
  src: local("☺"), url("../fonts/avenir/Avenir-Book.woff") format("woff"), url("../fonts/avenir/Avenir-Book.ttf") format("truetype"), url("../fonts/avenir/Avenir-Book.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Avenir-BookItalic';
  src: url("../fonts/avenir/Avenir-BookOblique.eot");
  src: local("☺"), url("../fonts/avenir/Avenir-BookOblique.woff") format("woff"), url("../fonts/avenir/Avenir-BookOblique.ttf") format("truetype"), url("../fonts/avenir/Avenir-BookOblique.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Avenir-Roman';
  src: url("../fonts/avenir/Avenir-Roman.eot");
  src: local("☺"), url("../fonts/avenir/Avenir-Roman.woff") format("woff"), url("../fonts/avenir/Avenir-Roman.ttf") format("truetype"), url("../fonts/avenir/Avenir-Roman.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Avenir-RomanItalic';
  src: url("../fonts/avenir/Avenir-Oblique.eot");
  src: local("☺"), url("../fonts/avenir/Avenir-Oblique.woff") format("woff"), url("../fonts/avenir/Avenir-Oblique.ttf") format("truetype"), url("../fonts/avenir/Avenir-Oblique.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Avenir-Medium';
  src: url("../fonts/avenir/Avenir-Medium.eot");
  src: local("☺"), url("../fonts/avenir/Avenir-Medium.woff") format("woff"), url("../fonts/avenir/Avenir-Medium.ttf") format("truetype"), url("../fonts/avenir/Avenir-Medium.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Avenir-MediumItalic';
  src: url("../fonts/avenir/Avenir-MediumOblique.eot");
  src: local("☺"), url("../fonts/avenir/Avenir-MediumOblique.woff") format("woff"), url("../fonts/avenir/Avenir-MediumOblique.ttf") format("truetype"), url("../fonts/avenir/Avenir-MediumOblique.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Avenir-Heavy';
  src: url("../fonts/avenir/Avenir-Heavy.eot");
  src: local("☺"), url("../fonts/avenir/Avenir-Heavy.woff") format("woff"), url("../fonts/avenir/Avenir-Heavy.ttf") format("truetype"), url("../fonts/avenir/Avenir-Heavy.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Avenir-HeavyItalic';
  src: url("../fonts/avenir/Avenir-HeavyOblique.eot");
  src: local("☺"), url("../fonts/avenir/Avenir-HeavyOblique.woff") format("woff"), url("../fonts/avenir/Avenir-HeavyOblique.ttf") format("truetype"), url("../fonts/avenir/Avenir-HeavyOblique.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Avenir-Black';
  src: url("../fonts/avenir/Avenir-Black.eot");
  src: local("☺"), url("../fonts/avenir/Avenir-Black.woff") format("woff"), url("../fonts/avenir/Avenir-Black.ttf") format("truetype"), url("../fonts/avenir/Avenir-Black.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Avenir-BlackItalic';
  src: url("../fonts/avenir/Avenir-BlackOblique.eot");
  src: local("☺"), url("../fonts/avenir/Avenir-BlackOblique.woff") format("woff"), url("../fonts/avenir/Avenir-BlackOblique.ttf") format("truetype"), url("../fonts/avenir/Avenir-BlackOblique.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
.section-wrapper {
  padding-top: 60px; }
  .section-wrapper ul, .section-wrapper li {
    color: #242628; }
  .section-wrapper li {
    padding-left: 10px; }

.section-header h1 {
  color: #242628; }

.section-subheader h3 {
  color: #242628; }

.special-features-item p, .faq-item p, .financing-item p, .pentair-item p, .sun-deep-item p, .swim-spas-item p, .swimming-pools-item p, .outdoor-living-item p, .about-us-item p {
  color: #242628; }

.btn-accent {
  background: #e25440;
  color: #fff;
  border: 0px; }
  .btn-accent:hover {
    background-color: rgba(226, 84, 64, 0.85);
    background: linear-gradient(to bottom, #F2A925, #e25440);
    background-repeat: repeat-x;
    color: #fff; }

.landingBG {
  max-width: 1240px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px; }

.mainImg {
  height: 570px;
  width: 100%;
  padding-top: 120px;
  position: relative; }
  @media all and (max-width: 640px) {
    .mainImg {
      height: 680px; } }

.trapezoid {
  font-family: "Gotham-Book", sans-serif;
  height: auto;
  position: absolute;
  left: 10;
  padding: 13px 30px 0 20px;
  margin-top: 135px;
  margin-bottom: 0;
  margin-right: 1em;
  background-color: rgba(51, 60, 78, 0.9);
  height: 65px;
  max-width: 100%; }
  .trapezoid:before, .trapezoid:after {
    border-top-width: 65px;
    border-bottom-width: 65px;
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    position: absolute;
    top: 0; }
  .trapezoid:before {
    border-right-color: rgba(51, 60, 78, 0.9);
    border-right-color: rgba(51, 51, 51, 0.9); }
  .trapezoid:after {
    border-left-color: rgba(51, 60, 78, 0.9);
    border-top-style: solid;
    border-left-width: 1em;
    border-left-style: solid;
    right: -1em;
    border-top-color: transparent; }
  @media all and (max-width: 640px) {
    .trapezoid {
      font-size: 30px;
      padding-top: 16px; } }

div.trapezoid-wrapper {
  margin-bottom: 200px; }

.landing-overlay {
  height: 250px;
  padding: 20px;
  text-align: left;
  background-color: rgba(51, 60, 78, 0.75);
  width: 100%;
  max-width: 1200px; }
  @media all and (max-width: 640px) {
    .landing-overlay {
      height: 360px;
      padding-top: 10px; } }

div.overlay-content {
  position: relative; }

div.overlay-form {
  margin: 0;
  padding-top: 20px;
  width: 66.6667%;
  border-right: 1px solid #fff; }
  div.overlay-form h1 {
    font-family: "Gotham-Book", sans-serif;
    margin: 0;
    padding: 0; }
  div.overlay-form p {
    font-size: 18px;
    margin: 10px auto;
    font-family: "Gotham-Book", sans-serif; }
  @media all and (max-width: 999px) {
    div.overlay-form {
      border-right: none;
      padding-top: 0px;
      width: 850px; } }
  @media all and (max-width: 640px) {
    div.overlay-form h1 {
      display: none !important; }
    div.overlay-form p {
      max-width: 400px;
      margin-left: 0;
      font-size: 24px; } }

@media screen and (min-width: 767px) {
  div.nav-sub-wrapper {
    left: 0;
    margin: 0 auto;
    margin-top: 0;
    z-index: -1000; } }
div.nav-sub-wrapper {
  color: #5ba4e5;
  position: relative;
  display: block; }

div.nav-sub {
  background: #e2effc;
  width: 100vw;
  height: 50px;
  margin: 0 auto;
  padding: 0 calc((100% - 1240px) / 2);
  position: absolute;
  z-index: 0; }

div.secondary-nav-wrapper {
  padding-left: 140px; }

ul.secondary-nav {
  display: flex;
  margin: 0 auto;
  padding: 15px 0 0 0; }

li.sub-nav-item a {
  font-size: 16px;
  line-height: 1.5;
  padding: 14px 10px;
  color: #333c4e;
  font-family: "Gotham-Book", sans-serif; }
li.sub-nav-item a.item-selected {
  color: #e25440;
  font-family: "Gotham-Medium", sans-serif; }
li.sub-nav-item a:hover {
  color: #e25440; }

div.landing-details {
  color: #333c4e;
  font-size: 15px;
  font-family: "Gotham-Bold", sans-serif;
  line-height: 1.5;
  text-transform: none;
  background-color: #e2effc;
  padding: 7px 20px 10px;
  text-align: center; }
  div.landing-details a {
    margin-left: 100px; }
  div.landing-details a:hover {
    color: #e25440; }
  @media all and (max-width: 767px) {
    div.landing-details {
      display: none !important; } }

.landing-form {
  margin-top: 10px; }
  .landing-form input {
    height: 40px;
    padding-left: 5px; }
  @media all and (max-width: 767px) {
    .landing-form input#landing-name {
      width: 390px; }
    .landing-form input#landing-zip {
      width: 120px; }
    .landing-form input#landing-email {
      width: 330px; }
    .landing-form button.landing-button {
      width: 180px; } }
  @media all and (max-width: 640px) {
    .landing-form {
      display: flex;
      flex-direction: column; }
      .landing-form input {
        margin: 0;
        height: 36px;
        max-width: 440px;
        min-width: 440px; }
      .landing-form button {
        margin-top: 5px;
        max-width: 440px;
        min-width: 440px; } }

input#landing-name {
  width: 450px;
  margin-right: 6px;
  margin-bottom: 15px; }

input#landing-email {
  width: 400px;
  margin-right: 6px;
  margin-bottom: 10px; }

input#landing-zip {
  width: 150px;
  margin-bottom: 15px; }

button.landing-button {
  height: 40px;
  width: 200px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  padding: .4em .67em;
  text-align: center;
  white-space: normal;
  line-height: 1.5; }

.landing-contact-us {
  position: absolute;
  right: 0;
  top: 25%;
  padding: 0 5%;
  width: 33.3%;
  text-align: center; }
  .landing-contact-us p.questions {
    font-size: 1.5em; }
  .landing-contact-us p.alt-question {
    margin-top: .8em;
    font-size: 13px; }
  @media all and (max-width: 999px) {
    .landing-contact-us {
      display: none; } }

div.contact-us-btn {
  padding: 0 10%;
  height: 40px; }
  div.contact-us-btn button.contact-btn {
    height: 40px;
    line-height: 1.85em;
    color: #fff;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    padding: .4em .75em;
    text-align: center;
    white-space: normal;
    width: 100%;
    line-height: 1.5; }

span.carousel-btn {
  font-size: 30px;
  color: #ddd;
  cursor: pointer; }
  span.carousel-btn.icon-left {
    margin-left: -15px; }
  span.carousel-btn.icon-right {
    margin-right: -15px; }
  span.carousel-btn.icon-left:before {
    content: "<"; }
  span.carousel-btn.icon-right:before {
    content: ">"; }

.collection-properties {
  display: flex; }
  .collection-properties li {
    width: 33.333%;
    padding: 0;
    margin-right: 15px; }

.photo-card-img img {
  width: 100%; }

@media screen and (max-width: 640px) {
  .xs-hide {
    display: none !important; } }
@media screen and (max-width: 768px) {
  .sm-hide {
    display: none !important; } }
@media screen and (min-width: 768px) {
  .md-hide {
    display: none !important; } }
@media screen and (min-width: 768px) {
  .nav-sm-only {
    display: none !important; } }
ul {
  padding: 0; }

.ct {
  text-align: center; }

.bold {
  font-family: "Sentinel-Semibold", serif; }

@media screen and (max-width: 768px) {
  .hidden-on-mobile {
    display: none; } }
body {
  font-family: "Gotham-Book", sans-serif;
  padding: 0;
  margin: 0;
  color: #fff;
  word-wrap: break-word; }
  body a {
    color: #e25440;
    font-family: "Gotham-Medium", sans-serif; }

a:hover {
  color: #F2A925;
  text-decoration: none; }

a:focus {
  text-decoration: none; }

input {
  color: #282d31; }

.page-width {
  max-width: 1280px;
  margin: 0 auto; }

.below-fold {
  margin: 0 auto;
  padding-top: 80px;
  max-width: 1280px; }

.title h2 {
  font-family: "Gotham-Book", sans-serif;
  color: black;
  margin: 0;
  padding: 0; }

.subtitle h3 {
  margin: 5px 0 15px;
  padding: 0;
  color: #999;
  font-size: 15px;
  font-family: "Gotham-Book", sans-serif; }

.btn-main {
  background: #e25440;
  padding: 0 2.5rem;
  height: 40px;
  border: 0px; }
  .btn-main:hover {
    darken: #333c4e, 15%;
    background: linear-gradient(to top, #e25440, #F2A925); }

.row {
  min-width: 100%;
  color: #fff;
  margin-left: 0;
  margin-right: 0; }

.hero-banner-wrapper {
  position: relative;
  background-color: #718087; }

.hero {
  min-height: 550px;
  max-height: 550px;
  padding-top: 120px; }

.hero-cta {
  position: absolute;
  left: 50%;
  top: 105px;
  margin: 0 0 0 -305px;
  width: 610px; }
  .hero-cta ul {
    padding-left: 0;
    margin-top: 20px;
    display: flex;
    justify-content: space-between; }
  .hero-cta a {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 12px 0;
    border: 1px solid white;
    font-size: 1.8rem;
    width: 100%;
    color: white; }
    .hero-cta a:hover {
      background-color: rgba(226, 84, 64, 0.6); }
    .hero-cta a.active {
      background-color: rgba(226, 84, 64, 0.85);
      text-decoration: none; }
  .hero-cta h1 {
    font-size: 50px;
    width: auto;
    text-shadow: 0 0 4px #666;
    padding-bottom: 10px; }
  .hero-cta form {
    padding-top: 10px; }
  .hero-cta input {
    width: 100%;
    border-radius: 5px;
    padding: 17px 120px 19px 20px;
    border: none;
    border-radius: 5px;
    box-shadow: none;
    color: #333;
    font-size: 17px; }
    .hero-cta input:focus {
      outline: none; }

.hero-cta-btn {
  position: relative; }

.hero-cta-btn-submit {
  position: absolute;
  right: 0;
  top: 0; }
  .hero-cta-btn-submit button {
    margin-top: 18px;
    margin-right: 10px;
    padding: 0 20px;
    height: 43px;
    border-radius: 5px;
    border: none;
    background: #e25440; }

@media screen and (max-width: 768px) {
  .hero-cta {
    min-width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    left: 0; } }
#hero-ul a {
  position: relative;
  font-family: "Gotham-Book", sans-serif; }
#hero-ul a.active:after {
  content: '';
  border-radius: 0 !important;
  bottom: 0;
  background: 0 0 !important;
  border-color: transparent transparent #fff;
  border-style: solid;
  border-width: 0 10px 10px;
  display: inline-block;
  margin-bottom: -21px;
  margin-left: -5px;
  top: auto;
  position: absolute;
  left: 48%; }
#hero-ul a.no-after:after {
  display: none; }

.form-wrapper {
  position: relative; }

.form-wrapper input {
  border-radius: 5px;
  padding: 19px;
  font-size: 1.25em;
  border: none; }

.banner {
  background-color: rgba(51, 60, 78, 0.9);
  padding: .6667rem, 2rem;
  position: absolute;
  min-height: 60px;
  bottom: 0;
  width: 100%; }

.banner-wrapper {
  display: flex;
  justify-content: left;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto; }
  .banner-wrapper p {
    font-size: 2rem;
    margin-left: 1.4rem;
    margin-top: 1.5rem;
    flex: 1; }
    .banner-wrapper p .hidden-on-mobile {
      margin-right: .5rem;
      font-family: "Sentinel-Book", serif; }
  .banner-wrapper img {
    margin-left: 2.5rem;
    margin-top: 4px;
    max-height: 40px; }
  .banner-wrapper button {
    margin-top: 5px;
    margin-right: 2.5rem;
    border-radius: 5px;
    font-size: 1.5rem; }
    .banner-wrapper button:hover {
      color: #fff; }

.resources {
  background: #fff;
  padding: 20px 20px 40px 20px;
  color: #242628; }
  .resources h2 {
    padding: 20px 0 30px;
    text-align: center; }
  .resources h3 {
    color: #fff; }
  .resources p {
    line-height: 1.4; }

.col-xs-10 {
  margin-bottom: 5rem; }

.resource-sm {
  margin-bottom: 30px; }
  .resource-sm img {
    float: left;
    width: 47.5%; }

.li-sm {
  padding-bottom: 100px; }

.img-banner-sm {
  background: #e25440;
  min-width: 47.5%;
  max-width: 47.5%;
  float: right;
  margin-left: 10px;
  height: 30px;
  padding-top: 4px;
  padding-bottom: 4px; }
  .img-banner-sm h3 {
    font-size: 16px;
    margin-top: 2px;
    font-family: "Gotham-Medium", sans-serif; }

.caption-p-sm, .caption-a-sm {
  min-width: 47.5%;
  max-width: 47.5%;
  float: right;
  margin-left: 10px;
  padding: 10px 15px; }
  .caption-p-sm p, .caption-a-sm p {
    line-height: 1.6;
    font-size: 13px;
    margin-bottom: 0; }
  .caption-p-sm a, .caption-a-sm a {
    color: #e25440;
    font-family: "Gotham-Medium", sans-serif; }
    .caption-p-sm a:hover, .caption-a-sm a:hover {
      color: #F2A925; }

@media screen and (max-width: 768px) and (min-width: 640px) {
  .img-banner-sm {
    height: 45px; }
    .img-banner-sm h3 {
      padding: 8px; } }
@media screen and (max-width: 768px) and (min-width: 640px) {
  .caption-p-sm p {
    font-size: 14px; } }
.resource {
  width: 100%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  text-align: left; }

.resource-banner {
  color: #fff;
  position: absolute;
  bottom: 0px;
  text-align: center;
  background-color: #333c4e; }

.img-wrapper {
  position: relative;
  width: 100%;
  height: auto; }

.img-wrapper .img-after {
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 55px;
  color: #000;
  background: #e25440; }

.img-after h3 {
  margin: 0 auto;
  padding-top: 15px;
  position: static;
  font-family: "Gotham-Bold", sans-serif; }

.caption {
  padding: 20px; }
  .caption p {
    margin-bottom: 35px;
    font-size: 1.5rem; }

.reviews {
  background: #718087;
  padding: 20px;
  max-width: 125px; }

.cta {
  background: #f8fbff;
  padding: 20px;
  max-width: 125px;
  margin-top: 30px; }

.footer {
  background: #718087;
  padding: 20px;
  max-width: 125px;
  background: #242628; }

.footer-top {
  font-size: 13px;
  line-height: 1.5;
  font-family: "Gotham-Bold", sans-serif;
  text-transform: uppercase; }

.footer-ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }
  .footer-ul li {
    margin: 0 15px; }
  .footer-ul li a {
    color: #939da5; }
  .footer-ul li:hover a {
    color: #F2A925; }

.footer-bottom {
  display: flex;
  justify-content: center; }

.copyright {
  margin-right: 5rem; }
  .copyright p {
    margin-top: 1.05rem; }

.social {
  display: flex; }
  .social p {
    display: flex;
    align-items: center;
    margin-right: 40px;
    margin-top: .5rem; }
  .social i {
    margin: 0 1rem;
    font-size: 3rem;
    color: #999; }

.nav {
  margin: 0;
  height: 50px;
  position: relative;
  z-index: 1500; }

.nav-flex {
  display: flex;
  padding: 0 calc((100% - 1240px) / 2);
  height: 50px;
  background: #fff;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
  z-index: 1000; }

.nav-sub-wrapper {
  z-index: -1000; }

.nav-logo-wrapper {
  margin: 0;
  padding: 0;
  display: flex;
  background: #0074e4;
  position: relative; }

.nav-map-wrapper {
  margin: 0;
  padding: 0 0 0 1em;
  display: flex;
  align-items: center;
  flex: 1 100%; }

.nav-social-wrapper {
  margin: 0;
  display: flex;
  align-items: center; }
  .nav-social-wrapper i {
    margin: 0 .75rem !important; }

.nav-ghost-wrapper {
  display: flex;
  flex: 1 25%; }

.nav-weather-wrapper {
  display: flex;
  align-items: center; }
  .nav-weather-wrapper canvas {
    margin: 0;
    margin-left: .5rem; }
  .nav-weather-wrapper span {
    color: #333c4e;
    font-family: "Sentinel-Semibold", serif;
    font-size: 1.6em;
    line-height: 1.6;
    margin-left: .4rem;
    margin-right: 2rem; }

@media screen and (min-width: 768px) {
  .nav-ghost-wrapper {
    flex: 1 18%; } }
@media screen and (min-width: 1024px) {
  .nav-ghost-wrapper {
    flex: 1 15%; } }
@media screen and (min-width: 1200px) {
  .nav-ghost-wrapper {
    flex: 1 12%; } }
#logo {
  position: absolute !important;
  left: 20px;
  z-index: 1501; }
  #logo .logo img {
    max-height: 100px;
    width: auto; }

.nav-map-ul {
  display: flex;
  padding-left: 1.6em; }

.nav-map-li {
  list-style-type: none;
  padding-top: 1.25rem;
  font-size: 1.25em;
  padding-left: 12px;
  padding-right: 12px; }
  .nav-map-li a {
    color: #333c4e;
    font-family: "Gotham-Book", sans-serif; }
  .nav-map-li a:hover {
    color: #F2A925;
    text-decoration: none; }

.nav-social-top {
  display: flex; }
  .nav-social-top i {
    margin: 0 1rem;
    font-size: 3rem;
    color: #999; }

.nav-social-top .fa-houzz {
  padding-right: 15px; }

.fa-facebook-square:hover {
  color: #3B5998; }

.fa-twitter-square:hover {
  color: #55ACEE; }

.fa-google-plus-square:hover {
  color: #DD4B39; }

.fa-houzz:hover {
  color: #55a32a; }

span.btn-inner-wrapper {
  position: relative;
  margin: 0 100px; }

.btn-inside {
  position: absolute;
  height: 44px;
  border-radius: 5px;
  background: #333c4e;
  padding: 0 2.5rem; }

li {
  list-style-type: none;
  position: block; }

.modal-dialog > div {
  max-width: 600px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  background: #fff;
  border: 8px rgba(0, 0, 0, 0.9) solid; }

.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0); }

.modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out; }

@media screen and (min-width: 768px) {
  .modal-dialog {
    padding-top: 30px;
    padding-bottom: 30px; } }
.modal-dialog {
  position: fixed;
  overflow: auto;
  overflow-y: scroll;
  margin: 0;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
  pointer-events: none;
  border-radius: 0; }

.modal-content {
  color: #242628; }
  .modal-content h4 {
    font-size: 28px;
    font-family: "Gotham-Bold", sans-serif; }

.modal-dialog:target {
  opacity: 1;
  pointer-events: auto;
  padding: 10px; }

.modal-close {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  position: absolute;
  top: 25px;
  right: 20px;
  color: #b3b9ba; }

.modal-close:before {
  font-family: "Icons";
  font-weight: normal;
  font-style: normal;
  vertical-align: -7%;
  text-transform: none;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\2715";
  font-size: 18px; }

.modal-header {
  border: none; }
  .modal-header p {
    margin: 1rem 0 0;
    color: #242628;
    font-size: 1.8rem; }

.modal-body {
  padding: 0 30px 50px; }
  .modal-body input, .modal-body button {
    width: 100%;
    min-height: 5rem;
    margin-bottom: 1rem;
    font-size: 1.8rem;
    line-height: 1; }
  .modal-body p {
    margin: 1rem 0;
    color: #aaa9a2; }
  .modal-body input {
    background: repeating-linear-gradient(45deg, #f4f6f7, #f4f6f7 12px, #f7f9fa 0, #f7f9fa 20px);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px;
    outline: 0;
    font-size: 1.6rem;
    line-height: 1.4em;
    border: #d1d1d1 1px solid;
    border-radius: 2px;
    -webkit-transition: all 0.15s ease-out 0;
    -moz-transition: all 0.15s ease-out 0;
    transition: all 0.15s ease-out 0; }
  .modal-body button {
    padding: 0.9em 1.37em;
    border-radius: .3rem;
    outline: none;
    border: none;
    color: white;
    background: #333c4e;
    font-family: "Gotham-Bold", sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    -webkit-transition: background 0.3s ease, border-color 0.3s ease, width 1s ease;
    -moz-transition: background 0.3s ease, border-color 0.3s ease, width 1s ease;
    transition: background 0.3s ease, border-color 0.3s ease, width 1s ease; }

.button-pink:hover {
  background: #ee2557 !important; }

.reviews {
  min-width: 100%;
  padding: 0; }

.review {
  padding-top: 17.5%;
  padding-bottom: 17.5%; }

.quote {
  max-width: 62em;
  margin: 0 auto; }
  .quote p {
    font-family: "Gotham-LightItalic", sans-serif;
    font-size: 2.4em;
    line-height: 1.6;
    text-shadow: 0 0 4px black;
    color: #fff; }
  .quote h6 {
    font: 1.1em "Sentinel-Semibold", serif;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.15em;
    margin-top: 3em;
    text-shadow: 0 0 4px black; }
  .quote i {
    font-size: 3em;
    margin-top: 0.8em;
    color: #fff;
    text-shadow: 0 0 4px black; }
    .quote i:hover {
      color: #F2A925; }

.headshots {
  padding: 0; }

.hs-ul {
  display: flex;
  justify-content: center;
  align-items: center; }

.hs-li {
  margin-left: .25em;
  margin-right: .2f5em;
  display: inline-block;
  position: relative;
  text-align: center;
  min-width: 100px;
  min-height: 100px; }

li.active .headshot img {
  height: 100px;
  width: 100px; }

.headshot img {
  height: 75px;
  width: 75px;
  border: 2px solid white;
  border-radius: 50%; }
.headshot a:hover img {
  height: 100px;
  width: 100px;
  transition: all 0.3s ease; }
.headshot a:hover:before {
  opacity: 0; }

#featured-categories, #featured-posts {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

#featured-categories .featured-category {
  float: left;
  width: 33.33333333%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  background-size: cover;
  background-color: #333c4e;
  background-position: center;
  position: relative;
  text-align: center;
  padding: 0;
  height: 130px; }

#featured-categories .featured-category:before {
  position: absolute;
  display: block;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  background-color: rgba(51, 60, 78, 0.75);
  transition: background-color,1s; }

@media (min-width: 768px) {
  #featured-categories .featured-category {
    float: left;
    width: 16.66666667%; } }
#featured-categories .featured-category a, #featured-categories .featured-category h2, #featured-categories .featured-category span, #featured-categories .featured-category div {
  color: #fff;
  transition: color,1s; }

#featured-categories .featured-category a {
  display: block;
  padding: 20px 10px;
  width: 100%;
  height: 100%; }

#featured-categories .featured-category * {
  position: relative;
  z-index: 2; }

#featured-categories .featured-category h2 {
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.6em;
  font-family: "Gotham-Medium", sans-serif;
  word-wrap: break-word;
  padding: 0; }
#featured-categories .featured-category a:before {
  display: block;
  font-family: 'FontAwesome';
  font-weight: bold;
  font-size: 22.4px;
  margin-top: 10px;
  margin-bottom: 10px; }

#featured-categories .featured-category:hover:before {
  background-color: rgba(255, 255, 255, 0.8); }

#featured-categories .featured-category:hover a,
#featured-categories .featured-category:hover h2 {
  color: #333c4e; }

@media (max-width: 1199px) {
  #featured-categories .featured-category {
    height: 120px; } }
@media (max-width: 1199px) {
  #featured-categories .featured-category h2 {
    font-size: 18px;
    letter-spacing: 0; } }
@media (max-width: 991px) {
  #featured-categories .featured-category {
    height: 90px; } }
@media (max-width: 991px) {
  #featured-categories .featured-category a {
    padding: 10px; } }
@media (max-width: 991px) {
  #featured-categories .featured-category h2 {
    font-size: 14px; } }
.featured-post {
  float: left;
  width: 50%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  background-size: cover;
  background-color: #333c4e;
  background-position: center;
  position: relative;
  text-align: center;
  padding: 0;
  height: 350px; }

.featured-post:before {
  position: absolute;
  display: block;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  background-color: rgba(51, 60, 78, 0.75);
  transition: background-color,1s; }

.featured-post a, .featured-post h2,
.featured-post span, .featured-post div {
  color: #fff;
  transition: color,1s; }

.featured-post a {
  display: block;
  padding: 20px 10px;
  width: 100%;
  height: 100%; }

.featured-post * {
  position: relative;
  z-index: 2; }

.featured-post h2 {
  margin-top: 15%;
  line-height: 1.4;
  font-size: 22.4px;
  font-weight: normal; }

.post-meta {
  font-size: 13px;
  text-transform: uppercase;
  font-family: "Gotham-Light", sans-serif; }

.meta-type.story-type:before {
  content: "\f040"; }

.meta-type.gallery-type:before {
  content: ""; }

.featured-post h2:before {
  display: block;
  font-family: 'FontAwesome'; }

.meta-type:before {
  margin: 3px;
  font-family: 'FontAwesome'; }

.featured-post:hover:before {
  background-color: rgba(255, 255, 255, 0.8); }

.featured-post:hover a, .featured-post:hover h2,
.featured-post:hover span, .featured-post:hover div {
  color: #333c4e; }

@media (max-width: 1300px) {
  .featured-post {
    height: 300px; } }
@media (max-width: 991px) {
  .featured-post {
    height: 250px; } }
@media (max-width: 991px) {
  .featured-post h2 {
    margin-top: 5%;
    font-size: 18px; } }
@media (min-width: 768px) {
  .featured-post {
    float: left;
    width: 33.33333333%; } }
@media (max-width: 767px) {
  .featured-post:nth-child(3n) {
    width: 100%;
    height: 160px; } }
@media (max-width: 767px) {
  .featured-post:nth-child(3n) h2 {
    margin: 0; } }
@media (max-width: 767px) {
  .featured-post h2 {
    font-size: 19.6px; } }
#nav.fixed {
  position: fixed;
  z-index: 1500;
  min-width: 100%;
  background: #fff; }

.partners {
  border-top: 1px solid #e2edf2;
  background-color: #F3F4F8;
  padding: 15px 0; }
  .partners ul {
    display: flex;
    justify-content: center;
    margin: 0 auto; }
  .partners li {
    padding: 0 40px; }

@media (max-width: 768px) {
  .partners li {
    padding: 0 20px; } }
@media (max-width: 640px) {
  .partners li {
    padding: 0; } }
.mobile-menu:before {
  content: "\2630";
  color: #333c4e;
  line-height: 1.65;
  font-size: 3.3rem; }

.mobile-menu {
  background: none;
  border: none;
  padding: 0 20px;
  margin: 0; }

#nav-mobile {
  position: absolute;
  z-index: 1500;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  width: 100%; }

.nav-mobile-ul {
  font-size: 20px;
  background-color: #e2effc;
  width: 100%;
  text-align: center;
  border-left: 1px solid #ddd; }
  .nav-mobile-ul:first-child {
    border-top: 4px solid #333c4e; }

.nav-mobile-li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  color: #333c4e; }
  .nav-mobile-li:hover {
    color: #e25440; }

.collapsed {
  display: none !important; }

.quo-ul {
  display: flex;
  justify-content: center;
  align-items: center; }

.quo-li {
  margin-left: .25rem;
  margin-right: .25rem;
  min-width: 100px;
  min-height: 100px;
  display: flex;
  align-items: center; }
  .quo-li.active img {
    width: 100px;
    height: 100px; }

div.quote img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 2px solid #fff;
  transition: all 0.3s ease; }
div.quote a:hover img {
  height: 100px;
  width: 100px;
  transition: all 0.3s ease; }

.headshot img {
  height: 75px;
  width: 75px;
  border: 2px solid white;
  border-radius: 50%; }
.headshot a:hover img {
  height: 100px;
  width: 100px;
  transition: all 0.3s ease; }
.headshot a:hover:before {
  opacity: 0; }
